<%- include("../../fragments/header.ejs") %>

<main>
  <script
    type="application/javascript"
    src="/js/validationTransitForm.js"
  ></script>
  <script type="application/javascript" src="/js/validationCommon.js"></script>
  <h2><%= pageTitle %> </h2>

  <form
    class="form"
    method="post"
    action="<%=formAction%>"
    novalidate
  >
    <input type="hidden" name="_id" id="_id" value="<%= transit._id %>" />

    <label for="startingLocalization"> <%= __('transit.fields.startingLocalization') %>: <span class="symbol-required">*</span></label>
    <input class="<%= validationErrors.find(e => e.path.includes('startingLocalization')) ?
    'error-input' : '' %>" type="text" name="startingLocalization" id="startingLocalization" value = "<%= transit.startingLocalization %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
    <span id="errorStartingLocalization" class="errors-text">
      <% if(validationErrors.find(e => e.path.includes('startingLocalization'))) { %> <%=
        validationErrors.find(e => e.path.includes('startingLocalization')).message %> <% }
        %>
    </span>

    <label for="endingLocalization"> <%= __('transit.fields.endingLocalization') %>: <span class="symbol-required">*</span></label>
    <input class="<%= validationErrors.find(e => e.path.includes('endingLocalization')) ?
    'error-input' : '' %>" type="text" name="endingLocalization" id="endingLocalization" value = "<%=
    transit.endingLocalization %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
    />
    <span id="errorEndingLocalization" class="errors-text">
      <% if(validationErrors.find(e => e.path.includes('endingLocalization'))) { %> <%=
        validationErrors.find(e => e.path.includes('endingLocalization')).message %> <% }
        %>
    </span>

    <label for="dateFrom">
      <%= __('transit.fields.dateFrom') %>: <span class="symbol-required">*</span></label
    >
    <input class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ?
    'error-input' : '' %>" type="date" name="dateFrom" id="dateFrom" value="<%= transit.dateFrom ? ((formMode == 'createNew') ?  transit.dateFrom : transit.dateFrom.toISOString().split('T')[0] ) : '' %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
    <span id="errorDateFrom" class="errors-text">
      <% if(validationErrors.find(e => e.path.includes('dateFrom'))) { %> <%=
        validationErrors.find(e => e.path.includes('dateFrom')).message %> <% }
        %>
    </span>

    <label for="dateTo"> <%= __('transit.fields.dateTo') %>: </label>
    <input class="<%= validationErrors.find(e => e.path.includes('dateTo')) ?
    'error-input' : '' %>" type="date" name="dateTo" id="dateTo" value="<%= transit.dateTo ? ((formMode == 'createNew') ?  transit.dateTo : transit.dateTo.toISOString().split('T')[0] ) : '' %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
    <span id="errorDateTo" class="errors-text">
      <% if(validationErrors.find(e => e.path.includes('dateTo'))) { %> <%=
        validationErrors.find(e => e.path.includes('dateTo')).message %> <% }
        %>
    </span>

    <label for="vehicleId"> <%= __('transit.fields.vehicle') %>: <span class="symbol-required">*</span></label>
    <select class="<%= validationErrors.find(e => e.path.includes('vehicleId')) ?
      'error-input' : '' %>" name="vehicleId" id="vehicleId" required
    <%= (formMode == 'showDetails') ? 'disabled' : '' %>
    >
      <option value ="" selected><%= __('transit.form.choose.vehicles') %></option>
      <% for (let i=0; i< allVehicles.length; i++) { let vehicle = allVehicles[i]; %>
        <option value="<%= vehicle._id %>" label="<%= vehicle.brandName + ' ' + vehicle.productionYear %>"
         <%= transit.vehicle ? ((transit._id && vehicle._id.toString() == transit.vehicle._id.toString()) ? 'selected' : '' ) : '' %> ><%= vehicle.brandName + ' ' + vehicle.productionYear %></option>
<% } %>
        </select>
    <span id="errorVehicle" class="errors-text">
      <% if(validationErrors.find(e => e.path.includes('vehicleId'))) { %> <%=
        validationErrors.find(e => e.path.includes('vehicleId')).message %> <% }
        %>
    </span>

    <label for="driverId">
      <%= __('transit.fields.driver') %>: <span class="symbol-required">*</span></label
    >
    <select class="<%= validationErrors.find(e => e.path.includes('driverId')) ?
      'error-input' : '' %>" name="driverId" id="driverId" required
    <%= (formMode == 'showDetails') ? 'disabled' : '' %>
    >
      <option value ="" selected><%= __('transit.form.choose.drivers') %></option>
      <% for (let i=0; i< allDrivers.length; i++) { let driver = allDrivers[i]; %>
        <option value="<%= driver._id %>" label="<%= driver.firstName  %>"
         <%= transit.vehicle ? ((transit._id && driver._id.toString() == transit.driver._id.toString()) ? 'selected' : '' ) : '' %> > <%= driver.firstName + ' ' + driver.lastName %></option>
<% } %>
        </select>
    <span id="errorDriver" class="errors-text">
      <% if(validationErrors.find(e => e.path.includes('driverId'))) { %> <%=
        validationErrors.find(e => e.path.includes('driverId')).message %> <% }
        %>
    </span>

    <% if(formMode == 'showDetails'){ %>
      <div class="form-buttons">
        <a href="/transits/edit/<%= transit._id %>" class="list-actions-button-edit"
          ><%= __('form.actions.edit') %></a
        >
      </div>
  
      <% } %>

      <div class="form-buttons">
        <p id="errorsSummary"></p>
        <% if(formMode != 'showDetails') { %>
        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
        <a class="form-button-cancel" href="/transits"><%= __('form.actions.cancel') %></a>
        <% } else { %>
        <a class="form-button-cancel" href="/transits"><%= __('form.actions.return') %></a>
        <% } %>
      </div>
  </form>
</main>
<%- include("../../fragments/footer.ejs") %>
