<%- include("../../fragments/header.ejs") %>

<main>
  <h2>Lista pojazdów</h2>
  <table class="table-list">
    <thead>
      <tr>
        <th>Marka</th>
        <th>Rok produkcji</th>
        <th>Rozmiar naczepy</th>
        <th>Akcje</th>
      </tr>
    </thead>

    <tbody>
      <% for (let vehicle of vehicles) { %>
      <tr>
        <td><%= vehicle.brandName %></td>
        <td><%= vehicle.productionYear %></td>
        <td><%= vehicle.semitrailerSize ? vehicle.semitrailerSize : '' %></td>
        <td>
          <ul class="list-actions">
            <li>
              <a
                href="/vehicles/details/<%=vehicle._id%>"
                class="list-actions-button-details"
                >Szczegóły</a
              >
            </li>
            <li>
              <a
                href="/vehicles/edit/<%=vehicle._id%>"
                class="list-actions-button-edit"
                >Edytuj</a
              >
            </li>
            <li>
              <a
                href="vehicles/delete/<%=vehicle._id%>"
                class="list-actions-button-delete"
                >Usuń</a
              >
            </li>
          </ul>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>

  <p class="button-add">
    <a href="/vehicles/add"> Dodaj nowy pojazd </a>
  </p>
</main>
<%- include("../../fragments/footer.ejs") %>
