<%- include("../../fragments/header.ejs") %>

<main>
  <h2><%= __('driver.list.pageTitle') %></h2>
  <table class="table-list">
    <thead>
      <tr>
        <th><%= __('driver.fields.firstName') %></th>
        <th><%= __('driver.fields.lastName') %></th>
        <th><%= __('driver.fields.birthdayYear') %></th>
        <th><%= __('list.actions.title') %></th>
      </tr>
    </thead>

    <tbody>
      <% for (let driver of drivers) { %>
      <tr>
        <td><%= driver.firstName %></td>
        <td><%= driver.lastName %></td>
        <td><%= driver.birthdayYear %></td>
        <td>
          <ul class="list-actions">
            <li>
              <a
                href="/drivers/details/<%=driver._id%>"
                class="list-actions-button-details"
                ><%= __('list.actions.details') %></a
              >
            </li>
            <li>
              <a
                href="/drivers/edit/<%=driver._id%>"
                class="list-actions-button-edit"
                ><%= __('list.actions.edit') %></a
              >
            </li>
            <li>
              <a
                href="/drivers/delete/<%=driver._id%>"
                class="list-actions-button-delete"
                ><%= __('list.actions.delete') %></a
              >
            </li>
          </ul>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <p class="button-add">
    <a href="/drivers/add"> <%= __('driver.list.addNew') %> </a>
  </p>
</main>
<%- include("../../fragments/footer.ejs") %>
