<%- include("../../fragments/header.ejs") %>

<main>
  <script
    type="application/javascript"
    src="/js/validationVehicleForm.js"
  ></script>
  <script type="application/javascript" src="/js/validationCommon.js"></script>
  <h2><%= pageTitle%></h2>

  <form
    class="form"
    method="post"
    action="<%=formAction%>"
    novalidate
    onsubmit="return validateForm();"
  >
    <input type="hidden" name="_id" id="_id" value="<%= vehicle._id %>" />

    <label for="brandName">
      Marka: <span class="symbol-required">*</span></label
    >
    <input type="text" name="brandName" id="brandName" value = "<%=
    vehicle.brandName %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
    />
    <span id="errorBrandName"></span>

    <label for="productionYear">
      Rok Produkcji: <span class="symbol-required">*</span></label
    >
    <input type="number" name="productionYear" id="productionYear" value = "<%=
    vehicle.productionYear %>" <%= (formMode == 'showDetails') ? 'disabled' : ''
    %> />
    <span id="errorProductionYear"></span>

    <label for="semitrailerSize"> Wielkość naczepy: </label>
    <input value = "<%= vehicle.brandName %>" type="number"
    name="semitrailerSize" id="semitrailerSize" min="1" max="10" <%= (formMode
    == 'showDetails') ? 'disabled' : '' %> />
    <span id="errorSemitrailerSize"></span>

    <% if(formMode == 'showDetails'){ %>
    <div class="form-buttons">
      <a
        href="/vehicles/edit/<%= vehicle._id %>"
        class="list-actions-button-edit"
        >Edytuj</a
      >
    </div>

    <% } %>
    <div class="form-buttons">
      <p id="errorsSummary"></p>
      <% if(formMode != 'showDetails') { %>
      <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
      <a class="form-button-cancel" href="/vehicles">Anuluj</a>
      <% } else { %>
      <a class="form-button-cancel" href="/vehicles">Powrót</a>
      <% } %>
    </div>
  </form>

  <% if(formMode=='showDetails' || formMode=='edit') { %>
  <h2>Szczegóły przejazdów</h2>
  <table class="table-list">
    <thead>
      <tr>
        <th>Kierowca</th>
        <th>Rok Urodzenia</th>
        <th>Do</th>
        <th>Data od</th>
        <th>Data do</th>
      </tr>
    </thead>

    <tbody>
      <% for(let t of vehicle.transits) { %>
      <tr>
        <td>
          <a href="/drivers/details/<%= t.driver._id %>">
            <%= t.driver.firstName %>
          </a>
        </td>
        <td><%= t.driver.birthdayYear %></td>
        <td><%= t.endingLocalization %></td>
        <td><%= t.dateFrom.toISOString().split('T')[0] %></td>
        <td><%= t.dateTo ? t.dateTo.toISOString().split('T')[0] : '' %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</main>
<%- include("../../fragments/footer.ejs") %>
