<%- include("../../fragments/header.ejs") %>

<main>
  <h2>Lista pojazdów</h2>
  <table class="table-list">
    <thead>
      <tr>
        <th><%= __('vehicle.fields.brandName') %></th>
        <th><%= __('vehicle.fields.productionYear') %></th>
        <th><%= __('vehicle.fields.semitrailerSize') %></th>
        <th><%= __('list.actions.title') %></th>
      </tr>
    </thead>

    <tbody>
      <% for (let vehicle of vehicles) { %>
      <tr>
        <td><%= vehicle.brandName %></td>
        <td><%= vehicle.productionYear %></td>
        <td><%= vehicle.semitrailerSize ? vehicle.semitrailerSize : '' %></td>
        <td>
          <ul class="list-actions">
            <li>
              <a
                href="/vehicles/details/<%=vehicle._id%>"
                class="list-actions-button-details"
                ><%= __('list.actions.details') %></a
              >
            </li>
            <li>
              <a
                href="/vehicles/edit/<%=vehicle._id%>"
                class="list-actions-button-edit"
                ><%= __('list.actions.edit') %></a
              >
            </li>
            <li>
              <a
                href="vehicles/delete/<%=vehicle._id%>"
                class="list-actions-button-delete"
                ><%= __('list.actions.delete') %></a
              >
            </li>
          </ul>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>

  <p class="button-add">
    <a href="/vehicles/add"> <%= __('vehicle.list.addNew') %> </a>
  </p>
</main>
<%- include("../../fragments/footer.ejs") %>
